.dbg {
  outline: 1px solid red;
}

.main-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  color: lightgray;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.tab-bar::before {
  position: absolute;
  top: -29px;
  background: inherit;
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 999px 999px 0px 0px;
  /* outline: 1px solid red; */
}

.tab-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(100% - 3rem));
  height: fit-content;
  /* bottom: 0; */
  background: var(--nav-bg);
  /* overflow-x: hiden; */
}

.map-placeholder {
  width: 300px;
  background: var(--color3);
  box-shadow: 0px 0px 15px -7px black;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.app-content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  padding: 1.4rem;
  border-radius: 10px;
  height: fit-content;
  gap: 1rem;
  font-size: 120%;
  box-shadow: 0px 10px 30px -15px black;
}
.login-form > h2 {
  margin: 0;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input {
  background-color: var(--c12);
  color: var(--fg);
  border: none;
  border-bottom: 3px solid var(--fg);
  padding: 0.2rem;
  border-radius: 5px 5px 2px 2px;
}

input[type="submit"] {
  border: none;
  width: 100%;
  margin-block: 1rem;
  border-radius: 5px;
  background-color: var(--c31);
}

.win-btn {
  background-color: lightgray;
  border: 8px solid;
  border-style: groove;
  border-radius: 0px;
  padding-inline: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

/*navigation*/

.float-menu {
  position: absolute;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-inline: 10px;
}

.round-btn {
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 999px;
  border: none;
  background-color: var(--c41);
  color: white;
  padding: 0.5rem;
}

.icon {
  display: block;
  text-align: center;
}

.tabbed {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.overlay {
  display: absolute;
  border: 2px solid blue;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
