.phone {
  --color2: #065b59;
  --color1: #28b5b5;
  --color3: #41ab34;

  --c11: #065b59;
  --c12: #044e4c;
  --c13: #034140;
  --c14: #023534;
  --c15: #012928;
  --c16: #011e1d;
  --c17: #001313;
  --c18: #000909;
  --c19: #000303;
  --c20: #000000;

  --c21: #28b5b5;
  --c22: #4cbdbc;
  --c23: #65c4c4;
  --c24: #7ccccb;
  --c25: #90d3d2;
  --c26: #a4dada;
  --c27: #b7e2e1;
  --c28: #c9e9e8;
  --c29: #dbf0f0;
  --c30: #edf8f7;

  --c31: #41ab34;
  --c32: #58b44d;
  --c33: #6dbd63;
  --c34: #80c577;
  --c35: #93ce8b;
  --c36: #a5d69e;
  --c37: #b7dfb2;
  --c38: #c9e7c5;
  --c39: #dbefd8;
  --c40: #edf7ec;

  --bg: var(--c29);
  --fg: var(--c40);
  --nav-bg: var(--c16);
  position: relative;
}

.phone {
  /* display: flex; */
  /* flex-direction: column; */
  width: min(450px);
  aspect-ratio: min(1/2);
  outline: 1px solid var(--c11);
  overflow: scroll;
  padding: 0;
  background: var(--bg);
  border-radius: 10px;
  scrollbar-width: none;
}

.navbar {
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5rem;
  padding-inline: 10px;
  border-radius: 0px 0px 999px 999px;
  width: fit-content;
  place-self: center;
  display: grid;
  place-items: center;
  background: black;
  z-index: 1;
}

.dbg {
  outline: 1px solid red;
}

.main-container {
  display: grid;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: black;
  padding-bottom: 50px;
  height: fit-content;
  scrollbar-width: none;
  color: lightgray;
}

.tab-bar::before {
  position: absolute;
  top: -29px;
  background: inherit;
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 999px 999px 0px 0px;
  /* outline: 1px solid red; */
}

.error-page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #af2a0a; */
  padding: 1rem;
  top: 0;
  width: 90%;
  height: 100%;
}

.tab-bar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(200% - 3rem));
  height: fit-content;
  bottom: 0;
  background: var(--nav-bg);
  overflow-x: hiden;
}

.map-placeholder {
  width: 300px;
  background: var(--color3);
  box-shadow: 0px 0px 15px -7px black;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.app-content {
  width: 100%;
  height: 100%;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  padding: 1.4rem;
  border-radius: 10px;
  height: fit-content;
  gap: 1rem;
  font-size: 120%;
  box-shadow: 0px 10px 30px -15px black;
}
.login-form > h2 {
  margin: 0;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input {
  background-color: var(--c12);
  color: var(--fg);
  border: none;
  border-bottom: 3px solid var(--fg);
  padding: 0.2rem;
  border-radius: 5px 5px 2px 2px;
}

input[type="submit"] {
  border: none;
  width: 100%;
  margin-block: 1rem;
  border-radius: 5px;
  background-color: var(--c31);
}

.win-btn {
  background-color: lightgray;
  border: 8px solid;
  border-style: groove;
  border-radius: 0px;
  padding-inline: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

/*navigation*/

.float-menu {
  position: absolute;
}
